//=== cat menu desktop ===
#cat-menu.catalogy-menu-wrapper
	.catalogy-menu-content
		ul.catalogy-menu
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('kirpich')
					a(href="#!").catalogy-menu-link Кирпич
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Клинкерный
						a(href="#!").catalogy-drop__link  Керамический
						a(href="#!").catalogy-drop__link  Ручная формовка
						a(href="#!").catalogy-drop__link  Строительный
						a(href="#!").catalogy-drop__link.bold-14  Все
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/cat-img.webp" srcset="./img/cat-img@2x.webp 2x", alt="img" width="340" height="417")
			
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('krovlya')
					a(href="#!").catalogy-menu-link Мягкая кровля
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider3.webp" srcset="./img/slider3@2x.webp 2x", alt="img" width="340" height="417")
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('bruschatka')
					a(href="#!").catalogy-menu-link Тротуарная брусчатка
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider5.webp" srcset="./img/slider5@2x.webp 2x", alt="img" width="340" height="417")
			
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('tepisolyacia')
					a(href="#!").catalogy-menu-link Теплоизоляция
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider2.webp" srcset="./img/slider2@2x.webp 2x", alt="img" width="340" height="417")
			
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('blocks')
					a(href="#!").catalogy-menu-link Блоки
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider3.webp" srcset="./img/slider3@2x.webp 2x", alt="img" width="340" height="417")
			
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('isolyacia')
					a(href="#!").catalogy-menu-link Изоляционные материалы
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider4.webp" srcset="./img/slider4@2x.webp 2x", alt="img" width="340" height="417")
			
			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('materials')
					a(href="#!").catalogy-menu-link Стройматериалы
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider5.webp" srcset="./img/slider5@2x.webp 2x", alt="img" width="340" height="417")
			

			li.catalogy-menu-item
				.flex-row
					.catalogy-menu-icon
						+svg('kamin')
					a(href="#!").catalogy-menu-link Все для камина
				.catalogy-menu-drop
					nav.catalogy-drop-list
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
						a(href="#!").catalogy-drop__link  Кирпич красный
					//=== картинка справа в меню ====
					.catalogy-menu-img
						img(src="./img/slider5.webp" srcset="./img/slider5@2x.webp 2x", alt="img" width="340" height="417")