.header-center
	//===menu===
	ul.nav-menu
		li.nav-menu-item
			a(href="#!").nav-menu-link О компании
		li.nav-menu-item
			a(href="#!").nav-menu-link Галерея
		li.nav-menu-item
			a(href="#!").nav-menu-link Бренды
		li.nav-menu-item.nav-menu-has-drop
			a(href="#!").nav-menu-link Услуги
			span.nav-menu-arrow
				+svg('chevronDown')
			//===drop menu ===
			.nav-menu-drop
				nav
					a(href="#!") Бесплатное хранение
					a(href="#!") Расчет материалов
					a(href="#!") Доставка
					a(href="#!") Заказ образца
					a(href="#!") 3D визулизация
		
		li.nav-menu-item
			a(href="#!").nav-menu-link Вопрос-ответ
		li.nav-menu-item
			a(href="#!").nav-menu-link Контакты


	.header-center-row
		//===catalogy btn ===
		button.catalogy-menu-btn.btn#cat-btn-desk
			+svg('bar')
			span Каталог
		
		form.search-form
			.form-item
				input(type="search" name="search_input" placeholder="Поиск")
				button(type="reset").input-clear-btn
					+svg('cross')
				
				button.search-btn
					+svg('search')