//=== pagination ===
.pagination
	a(href="").pagination-item.pagination-prev
		+svg-ui('chevronLeft')
	a(href="").pagination-item.active 1
	a(href="").pagination-item 2
	a(href="").pagination-item 3
	a(href="").pagination-item ...
	a(href="").pagination-item 8
	a(href="").pagination-item.pagination-next
		+svg-ui('chevronRight')