.section-swiper{
	.slider-arrows{
		@media (max-width: 767px) {
		  position: relative;
		  width: 100%;
		  justify-content: space-between;
		  top: auto;
		  transform: translateY(0);
		  margin-top: 20px;
		
		}
	}
}
.novelty-slider{
	position: relative;
	z-index: 2;
	
	.swiper-slide img{
		border-radius: 20px;
		width: 100%;
		max-width: 690px;
		height: 235px;
		object-position: left;
		@media (max-width: 1199px) {
		 height: 155px;
		}
		@media (max-width: 767px) {
		  height: 109px;
		}
	}
}
.section-swiper {
	
	position: relative;
	.slider-arrows{
		position: absolute;
		right: 0;
		top: -40px;
		transform: translateY(-100%);
		@media (max-width: 1023px) {
		 top: -20px;
		}
	}
}