/*POPULAR*/
.popular-content{
	position: relative;
	display: flex;
	column-gap: 30px;
	
	.popular-title{ 
		width: 335px;
		flex-shrink: 0;
		border-radius: 20px;
		background-color: #fff;
		padding: 30px;
		position: relative;
	}
	.slider-controls{
		position: absolute;
		bottom: 30px;
		left: 30px;
		right: 30px;
		justify-content: space-between;
		display: flex;
		align-items: flex-end;
	}
	@media (max-width: 1199px) {
	 display: block;
	 padding-bottom: 64px;
		.popular-title{
			width: 100%;
			background-color: transparent;
			border-radius: 0;
			padding: 0;
			position: static;
			margin-bottom: 20px;
		}
		.slider-controls{
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}
.slider-controls {
	
	column-gap:10px;
	.slider-pagination{
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		row-gap: 10px;
	}
	@media (max-width: 767px) {
	  position: relative;
		.slider-arrows{
			width: 100%;
			justify-content: space-between;
		}
		.slider-pagination{
			position: absolute;
			top: 50%;
			left: 50%;
			width: fit-content;
			transform: translate(-50%, -50%);
		}
	}
}