.single-object-description{
	display: flex;
	column-gap:20px;
	@media (max-width: 1023px) {
	 display: block;
	}
}
.single-object-info{
	flex-grow: 1;
	&>*+* {margin-top: 30px;}
	@media (max-width: 1023px) {margin-top: 40px;&>*+* {margin-top: 20px;}}		
	
	.info-text {
		@media (max-width: 767px) {font-size: 14px;}
	}
}
.object-slider-wrapper{
	width: calc(100% - 430px - 20px);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	row-gap:20px;
	.single-object-slider{
		width: 100%;
		.swiper-slide {
			border-radius: 20px;
			overflow: hidden;
		}
		@media (max-width: 574px) {
		height: 205px;
	}
	}
	@media (max-width: 1023px) {
		row-gap: 10px;
		width: 100%;
		max-width: 600px;
	}
	
}
.object-slider-thumb{
	width: 100%;
	overflow: visible;
	
	.swiper-wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
		@media (max-width: 1199px) {
			gap: 10px;
		}
		@media (max-width: 991px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
	.swiper-slide{
		width: 100%!important;
		margin:0!important;
		cursor: pointer;border:2px solid transparent;
		img{
			aspect-ratio: 217 / 136;
			border-radius: 20px;
			@media (max-width: 1199px) {
			border-radius: 10px;
			}
		}
	}
	.swiper-slide-thumb-active{
		border:2px solid $ac1;
		border-radius: 20px;
		@media (max-width: 1199px) {border-radius: 10px;}
	}
}

.single-object-links{
	.bold-18{margin-bottom: 20px; 
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}}
	.link{margin-bottom: 10px; font-size: 14px; display: block;}
	
}