section.category
	.container
		+brcr('Главная', 'Каталог','Кирпич','Клинкерный')
		.section-title.inline-row
			h2.h2 Клинкерный кирпич
			p.bold-gray 870 товаров
		
		.aside-grid
			#filter-popup.aside-grid__column.aside-grid--popup
				.aside-grid-header.flex-row
					p.bold-18 Фильтр
					button.close-btn
						+svg('cross')
				form.filter
					.filters-menu-wrapper
						.filter-title Кирпич
						//===MENU===
						ul.filters-menu
							li.filters-menu-item.active
								a(href="#!") Клинкерный
							li.filters-menu-item
								a(href="") Керамический
							li.filters-menu-item
								a(href="") Ручная формовка
							li.filters-menu-item
								a(href="") Строительный
					
					//===BRAND===
					//=== Если есть  выпадающий список, то у .drop-filter надо добавить еще класс.drop-filter--show-more. Если фильтре раскрыт по умолчанию , то , то у родительского дива  .drop-filter  должен быть еще и класс .open. Если текст кнопки Свернуть все, то у родительского дива  .drop-filter должны быть еще и классы  "open  open--full"  , а у кнопки  Свернуть все должны быть  классы .drop-filter-more.drop-filter-close  ===
					
					.drop-filter.drop-filter--show-more.open
						.drop-filter__btn Бренд
						.drop-filter-content
							.drop-filter__list
								label.custom-checkbox
									input(type="checkbox" name="brand1" value="brand1")
									span.fake-input
									span Braer
								label.custom-checkbox
									input(type="checkbox" name="brand2" value="brand2")
									span.fake-input
									span Старый Оскол
								label.custom-checkbox
									input(type="checkbox" name="brand3" value="brand3")
									span.fake-input
									span ЛСР
								label.custom-checkbox
									input(type="checkbox" name="brand4" value="brand4")
									span.fake-input
									span КС Керамик
								label.custom-checkbox
									input(type="checkbox" name="brand5" value="brand5")
									span.fake-input
									span Железногорский
								label.custom-checkbox
									input(type="checkbox" name="brand6" value="brand6")
									span.fake-input
									span Маркинский
								label.custom-checkbox
									input(type="checkbox" name="brand7" value="brand7")
									span.fake-input
									span Старый Оскол
								label.custom-checkbox
									input(type="checkbox" name="brand8" value="brand8")
									span.fake-input
									span ЛСР
								label.custom-checkbox
									input(type="checkbox" name="brand9" value="brand9")
									span.fake-input
									span КС Керамик
							button(type="button").drop-filter-more Показать еще 
					//===FORMAT===
					.drop-filter.open.drop-filter--show-more
						.drop-filter__btn Формат кирпича
						.drop-filter-content
							.drop-filter__list
								label.custom-checkbox
									input(type="checkbox" name="format1" value="format1")
									span.fake-input
									span 1 НФ
								label.custom-checkbox
									input(type="checkbox" name="format2" value="format2")
									span.fake-input
									span 0,7 НФ
								label.custom-checkbox
									input(type="checkbox" name="format3" value="format3")
									span.fake-input
									span 1,4 НФ
								label.custom-checkbox
									input(type="checkbox" name="format4" value="format4")
									span.fake-input
									span WDF
								label.custom-checkbox
									input(type="checkbox" name="format5" value="format5")
									span.fake-input
									span Ригельный
								label.custom-checkbox
									input(type="checkbox" name="format6" value="format6")
									span.fake-input
									span DF
								label.custom-checkbox
									input(type="checkbox" name="format7" value="format7")
									span.fake-input
									span Brand7
								
							button(type="button").drop-filter-more Показать еще 			
					//===COLOR===
					.drop-filter.drop-filter--color.open.open--full
						.drop-filter__btn Цвет
						.drop-filter-content
							.drop-filter__list
								label.custom-checkbox
									input(type="checkbox" name="format1" value="color_white")
									span.fake-input
									span.color-circle(style="background:white")
									span Белый
								label.custom-checkbox
									input(type="checkbox" name="color_red" value="format2")
									span.fake-input
									span.color-circle(style="background:#FE0000")
									span Красный
								label.custom-checkbox
									input(type="checkbox" name="format3" value="color_soloma")
									span.fake-input
									span.color-circle(style="background:#FEA500")
									span Солома
								label.custom-checkbox
									input(type="checkbox" name="format4" value="color_dark")
									span.fake-input
									span.color-circle(style="background:#833505")
									span Темный
								label.custom-checkbox
									input(type="checkbox" name="format5" value="color_bavar")
									span.fake-input
									span.color-circle(style="background:#655353")
									span Баварская кладка
								
							button(type="button").drop-filter-more.drop-filter-close Свернуть все
					.filter-footer
						button(type="submit").btn
							span Применить
							+svg('check')
						button(type="reset").btn-light
							span Сбросить
							+svg('reload')
			//=== MAIN CONTENT ===
			.aside-grid__main
				.sorting-filters
					//===== КНОПКА ОТКРЫТИЯ ФИЛЬТРА НА МОБ ВЕРСИИ ===
					button.btn-outline#filter-popup-btn Фильтр
						+svg('filter')
					//=== СОРТИРОВКА НА ЭКРАНАХ > 1024 ===
					.sorting-types-desktop.flex-row
						p.bold-18 Сортировка
						.sorting-list.flex-row
							a(href="#!").sorting-list-item.active По популярности
							a(href="#!").sorting-list-item Сначала дешевые
							a(href="#!").sorting-list-item Сначала дорогие
					
					//=== СОРТИРОВКА- ВЫПАДАШКА НА ЭКРАНАХ < 1024 ===
					.drop-select.sorting-types-mobile
						.custom-select
							.custom-select-trigger Сортировка
							.custom-options
								span.custom-option(data-value="По_популярности") По популярности
								span.custom-option(data-value="дешевые") Сначала дешевые
								span.custom-option(data-value="дорогие") Сначала дорогие
								
					//=== ВЫБОР КОЛИЧЕСТВА КАРТОЧЕК===
					.drop-select.sorting-count
						p.bold-18 Показать
						.custom-select
							.custom-select-trigger 24
							.custom-options
								span.custom-option(data-value="24") 24
								span.custom-option(data-value="32") 32
								span.custom-option(data-value="48") 48
								span.custom-option(data-value="64") 64
				
				//=====CARDS WRAPPER ===
				.category-cards.three-columns-grid
					
					+prod-card(1, 'Кирпич, Солома 1 НФ', 'Старый Оскол', 44)
					+prod-card(2, 'Многослойная черепица Технониколь', 'SHINGLAS', 1900)
					+prod-card(3, 'Кирпич кладка гладкий, 250*85*65 мм', 'БРАЕР', 44)
					+prod-card(1, 'Кирпич, Солома 1 НФ', 'Старый Оскол', 44)
				
				.aside-grid__main-footer
					button.btn-outline.w-100 Показать еще
						+svg-ui('plus')
					
					include ../blocks/_pagination