section.contacts
	.container
		.contacts-content
			.map
				img.wh-100(src="./img/map.webp", width="690" height="420" alt="")
			.contacts-card
				h2.h2 Офис продаж и шоурум
				.contacts-block
					p.icon-txt
						+svg('pin')
						span 362013, Респ. Северная Осетия — Алания, г. Владикавказ, Черменское ш., 2
					p.icon-txt.phone-group
						+svg('phone')
						span.phone-numbers
							a(href="#!") +7 (918) 829-99-30,
							a(href="#!") +7 (8672) 51-97-70,
							a(href="#!") +7 (8672) 76-23-05
					a(href="#!").icon-link
						+svg('email')
						span info@module.ru
					p.icon-txt
						+svg('clock')
						span Время работы: 9.00 - 18.00 /  Выходной: воскресенье
				
				.social-block
					p.bold-20 Мы в социальных сетях:
					.social-links
						a(href="#!").social-item
							+svg('inst')
						a(href="#!").social-item
							+svg('whatsapp')
						a(href="#!").social-item
							+svg('telegram')

