section.faq
	.container
		+brcr('Главная', 'Вопрос-ответ')
		.section-title.flex-row
			h1.h3 Вопрос-ответ
			button.open-acordeon#open-acordeon Раскрыть все
				+svg('chevronDown')
		//=========acordion========
		.acordion-wrapper
			.acordion-group
				.acordion-btn Как связаться с менеджером?
				.acordion-body
					p Для связи с менеджером по продажам вы можете позвонить на единый номер телефона MODULE +7 (918) 829-99-30, сообщить вид продукции которая вас интересует и контактные данные для связи с вами. В ближайшее время с вами свяжется назначенный менеджер.
					p Также вы можете воспользоваться формой обратной связи на сайте или емейлом: info@module.ru
					
			.acordion-group
				.acordion-btn Какой раствор использовать для кирпича? Можно ли использовать цементно – песчаную смесь?
				.acordion-body
					p Для связи с менеджером по продажам вы можете позвонить на единый номер телефона MODULE +7 (918) 829-99-30, сообщить вид продукции которая вас интересует и контактные данные для связи с вами. В ближайшее время с вами свяжется назначенный менеджер.
					p Также вы можете воспользоваться формой обратной связи на сайте или емейлом: info@module.ru

			.acordion-group
				.acordion-btn Почему цены на сайте и цены у региональных дистрибьюторов отличаются?
				.acordion-body
					p Для связи с менеджером по продажам вы можете позвонить на единый номер телефона MODULE +7 (918) 829-99-30, сообщить вид продукции которая вас интересует и контактные данные для связи с вами. В ближайшее время с вами свяжется назначенный менеджер.
					p Также вы можете воспользоваться формой обратной связи на сайте или емейлом: info@module.ru

			.acordion-group
				.acordion-btn Можно ли купить облицовочный кирпич, тротуарную плитку и другую продукцию BRAER не поддонами?
				.acordion-body
					p Для связи с менеджером по продажам вы можете позвонить на единый номер телефона MODULE +7 (918) 829-99-30, сообщить вид продукции которая вас интересует и контактные данные для связи с вами. В ближайшее время с вами свяжется назначенный менеджер.
					p Также вы можете воспользоваться формой обратной связи на сайте или емейлом: info@module.ru