.banner
	.container
		.banner-caption
			h1.h1 Строительство 
				span дома начинаетя
				| с нас
	.banner-tabs
		.container
			.container-inner
				ul.tabs-pagination
		#bannerTabsContent.swiper.tabs-content
			.swiper-wrapper
				.swiper-slide
					.tabs-content--item
						.image
							img(src="./img/slider1.webp", alt="Облицовочный<br>кирпич")
						h2.h2 Кирпич керамический
						p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
						.tabs-content--btn
							a(href="/catalog/oblitsovochnyy-kirpich/")
								span Смотреть всю продукцию
								.arrow
									svg(width="8", height="15", viewBox="0 0 8 15", fill="none", xmlns="http://www.w3.org/2000/svg")
										path(d="M1 1.98828L7 7.98828L1 13.9883", stroke="#1E1E1E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
				.swiper-slide
					.tabs-content--item
						.image
							img(src="./img/slider2.webp", alt="Тротуарная<br>плитка")
						h2.h2 Тротуарная плитка
							
						p
							| Городская среда включает в&amp;nbsp;себя многочисленные элементы, одним из&amp;nbsp;которых является
							| тротуарная плитка. Разнообразие форм, цветов и&amp;nbsp;способов укладки делают возможности
							| мощения безграничными.
						.tabs-content--btn
							a(href="/catalog/trotuarnaya-plitka/")
								span Смотреть всю продукцию
								.arrow
									svg(width="8", height="15", viewBox="0 0 8 15", fill="none", xmlns="http://www.w3.org/2000/svg")
										path(d="M1 1.98828L7 7.98828L1 13.9883", stroke="#1E1E1E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
				.swiper-slide
					.tabs-content--item
						.image
							img(src="./img/slider3.webp")
						h2.h2 Облицовочный кирпич BRAER PRO
							
						p
							| BRAER PRO — это особая коллекция облицовочного кирпича с&amp;nbsp;декоративным покрытием, которая
							| воплощает самые смелые и&amp;nbsp;нестандартные взгляды на&amp;nbsp;архитектурный облик общественных
							| зданий и&amp;nbsp;частного домостроения.
						.tabs-content--btn
							a(href="https://braer.ru/catalog/oblitsovochnyy-kirpich/filter/collection-is-braer-pro/apply/")
								span Смотреть всю продукцию
								.arrow
									svg(width="8", height="15", viewBox="0 0 8 15", fill="none", xmlns="http://www.w3.org/2000/svg")
										path(d="M1 1.98828L7 7.98828L1 13.9883", stroke="#1E1E1E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
			.tabs-control
				
				.tabs-control--arrows
					.arr.arr-prev
						svg(width="20", height="14", viewBox="0 0 20 14", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M7 1L1 7M1 7L7 13M1 7L19 7", stroke="#1E1E1E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
					.arr.arr-next
						svg(width="20", height="14", viewBox="0 0 20 14", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M13 1L19 7M19 7L13 13M19 7L1 7", stroke="#1E1E1E", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
