.banner
	.container
		.banner-caption
			h1.h1 Строительство 
				span дома начинаетя
				| с нас
	
	.banner-tabs
		.container
			.container-inner
				ul.tabs-pagination
		
		.container
			#bannerTabsContent.swiper.tabs-content
				.swiper-wrapper
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider1.webp", alt="Облицовочный<br>кирпич")
							h2.h2 Кирпич керамический
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg-ui('chevronRight')
					
					
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider2.webp", alt="Тротуарная<br>плитка")
							h2.h2 Утепление
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg-ui('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider3.webp")
							h2.h2 Тротуарная плитка
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg-ui('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider4.webp")
							h2.h2 Все для камина
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg-ui('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider5.webp")
							h2.h2 Кровля
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg-ui('chevronRight')
				
				
				.tabs-control
					
					.tabs-control--arrows
						
						button.btn-prev
							+svg-ui('chevronLeft')
						
						button.btn-next
							+svg-ui('chevronRight')