header.header.header-desk
	//=== cat menu desktop ===
	.catalogy-menu-desktop#cat-menu
		.catalogy-menu-content
			ul.catalogy-menu
				
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('kirpich')
					a(href="#!").catalogy-menu-link Кирпич
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Клинкерный
						a(href="#!").catalogy-menu-drop__link  Керамический
						a(href="#!").catalogy-menu-drop__link  Ручная формовка
						a(href="#!").catalogy-menu-drop__link  Строительный
						a(href="#!").catalogy-menu-drop__link.bold-14  Все
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('krovlya')
					a(href="#!").catalogy-menu-link Мягкая кровля
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный			

				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('bruschatka')
					a(href="#!").catalogy-menu-link Тротуарная брусчатка
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('tepisolyacia')
					a(href="#!").catalogy-menu-link Теплоизоляция
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('blocks')
					a(href="#!").catalogy-menu-link Блоки
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('isolyacia')
					a(href="#!").catalogy-menu-link Изоляционные материалы
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('materials')
					a(href="#!").catalogy-menu-link Стройматериалы
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный	
	
				li.catalogy-menu-item
					.catalogy-menu-icon
						+svg('kamin')
					a(href="#!").catalogy-menu-link Все для камина
					.catalogy-menu-drop
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный
						a(href="#!").catalogy-menu-drop__link  Кирпич красный	
	
	.container
		.header-desk-content.gap-30
			a(href="#!").logo
				+svg('logo')

			include ../blocks/_header-center.pug
			.header-right
				.flex-row.gap-30
					button.btn Написать
						+svg('email')
					a(href="#!").social-link
						+svg('inst')
				a(href="#!").link-icon.phone-link
					+svg('phone')
					| +7 (918) 829-99-30
