header.header.header-desk
	//=== cat menu desktop ===
	.catalogy-menu-desktop#cat-menu
		.catalogy-menu-content
			.catalogy-menu
				ul
					li.catalogy-menu-item
						a(href="#!").catalogy-menu-link Кирпич
						.catalogy-menu-drop
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
					li.catalogy-menu-item
						a(href="#!").catalogy-menu-link Кирпич
						.catalogy-menu-drop
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный			
	
					li.catalogy-menu-item
						a(href="#!").catalogy-menu-link Кирпич
						.catalogy-menu-drop
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
					li.catalogy-menu-item
						a(href="#!").catalogy-menu-link Кирпич
						.catalogy-menu-drop
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный
							a(href="#!").catalogy-menu-drop__link  Кирпич красный							
	.container
		.header-desk-content.gap-30
			a(href="#!").logo
				+svg('logo')

			include ../blocks/_header-center.pug
			.header-right
				.flex-row.gap-30
					button.btn Написать
						+svg('email')
					a(href="#!").social-link
						+svg('inst')
				a(href="#!").link-icon.phone-link
					+svg('phone')
					| +7 (918) 829-99-30
