//=== HEADER BANNER-SLIDER ====
.banner
	.container
		.banner-caption
			h1.h1 Строительство 
				span дома <br>начинается
				| с нас
	
	.banner-tabs
		.container
			.container-inner
				ul.tabs-pagination
		
		.container
			#bannerTabsContent.swiper.tabs-content
				.swiper-wrapper
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider1.webp", srcset="./img/slider1@2x.webp 2x" width="724"  height="386" alt="img")
							h2.h2 Кирпич керамический
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg('chevronRight')
					
					
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider2.webp",  srcset="./img/slider2@2x.webp 2x" width="648"  height="408" alt="img")
							h2.h2 Утепление
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider3.webp"  srcset="./img/slider3@2x.webp 2x" width="696"  height="384" alt="img")
							h2.h2 Тротуарная плитка
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider4.webp"  srcset="./img/slider4@2x.webp 2x" width="724"  height="400" alt="img")
							h2.h2 Все для камина
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg('chevronRight')
					.swiper-slide
						.tabs-content--item
							.image
								img(src="./img/slider5.webp"  srcset="./img/slider5@2x.webp 2x" width="731"  height="460" alt="img")
							h2.h2 Кровля
								
							p В архитектуре, как и в жизни, присутствуют вечные ценности. Кирпич применяют в строительстве несколько тысяч лет, доведя за это  время технологию до совершенства.
							.tabs-content--btn
								a(href="#!").btn-dark Ознакомиться с продукцией
									+svg('chevronRight')
				
				//=== tabs-control ===
				.tabs-control
					.slider-arrows
						button.btn-prev.banner-slider-next
							+svg('chevronLeft')
						
						button.btn-next.banner-slider-prev
							+svg('chevronRight')
					.tabs-control--timer
						.timer-band
					