header.header.header-desk
	.catalogy-menu-desktop#cat-menu
		.catalogy-menu-content
			h1 menu
			
	.container
		.header-desk-content.gap-30
			a(href="#!").logo
				+svg('logo')

			include ../blocks/_header-center.pug
			.header-right
				.flex-row.gap-30
					button.btn Написать
						+svg('email')
					a(href="#!").social-link
						+svg('inst')
				a(href="#!").link-icon.phone-link
					+svg('phone')
					| +7 (918) 829-99-30
