section.partners
	.container
		.section-title
			h2.h2 Сотрудничаем с 30 лучшими заводами России
		.partners-content
			+brand-card(1)
			+brand-card(2)
			+brand-card(3)
			+brand-card(4)
			+brand-card(5)
			+brand-card(6)
			+brand-card(7)
			+brand-card(8)
			+brand-card(9)
			+brand-card(10)
			+brand-card(11)
			+brand-card(12)
			+brand-card(13)
			+brand-card(14)
			+brand-card(15)
			+brand-card(16)
			+brand-card(17)
			+brand-card(18)
		.centered-wrapper
			button.btn-outline Загрузить еще
				+svg('plus')
