section.single-object
	.container
		+brcr('Главная', 'Галерея','Жилой квартал «Весна»')
		h2.h3 Жилой квартал «Весна»	
		.single-object-description
			//===slider wrapper =====
			.object-slider-wrapper.fancyslider
				.swiper.single-object-slider
					.swiper-wrapper
						.swiper-slide
							a(href="./img/object1.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object1.webp' srcset="./img/object1@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object2.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object2.webp' srcset="./img/object2@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object3.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object3.webp' srcset="./img/object3@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object4.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object4.webp' srcset="./img/object4@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object5.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object5.webp' srcset="./img/object5@2x.webp 2x" width="930" height="580" alt="img")
						
						.swiper-slide
							a(href="./img/object6.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object6.webp' srcset="./img/object6@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object7.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object7.webp' srcset="./img/object7@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object8.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object8.webp' srcset="./img/object8@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object9.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object9.webp' srcset="./img/object9@2x.webp 2x" width="930" height="580" alt="img")
						.swiper-slide
							a(href="./img/object10.webp" data-fancybox="gallery")
								img.lazy.wh-100(src='./img/object10.webp' srcset="./img/object10@2x.webp 2x" width="930" height="580" alt="img")
					
					//===slider nav arrows ===
					.slider-arrows
						button.btn-prev.single-object-prev
							+svg('chevronLeft')
						button.btn-next.single-object-next
							+svg('chevronRight')
				.swiper.object-slider-thumb(thumbsslider)
					.swiper-wrapper
						.swiper-slide
							img.lazy(src='./img/object1-thumb.webp' srcset="./img/object1-thumb@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object2.webp' srcset="./img/object2@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object3.webp' srcset="./img/object3@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object4.webp' srcset="./img/object4@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object5.webp' srcset="./img/object5@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object6.webp' srcset="./img/object6@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object7.webp' srcset="./img/object7@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object8.webp' srcset="./img/object8@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object9.webp' srcset="./img/object9@2x.webp 2x" width="217" height="136" alt="img")
						.swiper-slide
							img.lazy(src='./img/object10.webp' srcset="./img/object10@2x.webp 2x" width="217" height="136" alt="img")
			//==== deskription===
			.single-object-info
				.h5 Описание объекта
				ul.info-list
					li
						p.bold-18 Адрес:
						p.info-list-value г. Владикавказ, ул. Весенняя
					li
						p.bold-18 Застройщик:
						p.info-list-value СТК-59
				.info-text
					p Жилой квартал «Весна» - это семь 9-этажных кирпичных зданий. Застройщиком спроектированы различные планировки — от одно — до трехкомнатных. Благоустройство прилегающей территории включает в себя организацию детских и спортивных площадок, зон отдыха и озеленение. Предусмотрены открытые гостевые парковки. В шаговой доступности находятся детские сады, школы, медицинские учреждения, аптеки, продовольственные магазины и парк.
				
				.single-object-links
					.bold-18 Использовались материалы:
					a(href="").link Кирпич клинкерный, 0,7NF
					a(href="").link Многослойная черепица Технониколь
					a(href="").link Утеплитель Технониколь Техноблок Стандарт