mixin table-row(txt1, txt2)
	.deskription-table-row
		p.cell-name Фактура
		span.cell-space
		p.cell-value Береста, каре, кора, рустик
section.single-product
	.container
		+brcr('Главная', 'Каталог','Кирпич', 'Клинкерный', 'Кирпич клинкерный ЛСР Мюнхен')
		.single-product-description
			//===slider wrapper =====
			.product-slider-wrapper
				.swiper.product-slider
					.swiper-wrapper
						.swiper-slide
							img.lazy(src='./img/product1.webp' srcset="./img/product1@2x.webp 2x" width="690" height="540" alt="img")
						.swiper-slide
							img.lazy(src='./img/single-cat2.webp' srcset="./img/single-cat2@2x.webp 2x" width="690" height="540" alt="img")
						.swiper-slide
							img.lazy(src='./img/product3.webp' srcset="./img/product3@2x.webp 2x" width="690" height="540" alt="img")
						.swiper-slide
							img.lazy(src='./img/cat-img.webp' srcset="./img/cat-img@2x.webp 2x" width="690" height="540" alt="img")
						.swiper-slide
							img.lazy(src='./img/product1.webp' srcset="./img/product1@2x.webp 2x" width="690" height="540" alt="img")
						.swiper-slide
							img.lazy(src='./img/single-cat3.webp' srcset="./img/single-cat3@2x.webp 2x" width="690" height="540" alt="img")
					
					//===slider nav arrows ===
					.slider-arrows
						button.btn-prev.product-button-prev
							+svg('chevronLeft')
						button.btn-next.product-button-next
							+svg('chevronRight')
				.swiper.product-slider-thumb(thumbsslider)
					.swiper-wrapper
						.swiper-slide
							img.lazy(src='./img/product1.webp' srcset="./img/product1@2x.webp 2x" width="173" height="132" alt="img")
						.swiper-slide
							img.lazy(src='./img/single-cat2.webp' srcset="./img/single-cat2@2x.webp 2x" width="173" height="132" alt="img")
						.swiper-slide
							img.lazy(src='./img/product3.webp' srcset="./img/product3@2x.webp 2x" width="173" height="132" alt="img")
						.swiper-slide
							img.lazy(src='./img/cat-img.webp' srcset="./img/cat-img@2x.webp 2x" width="173" height="132" alt="img")
						.swiper-slide
							img.lazy(src='./img/product1.webp' srcset="./img/product1@2x.webp 2x" width="173" height="132" alt="img")
						.swiper-slide
							img.lazy(src='./img/single-cat3.webp' srcset="./img/single-cat3@2x.webp 2x" width="173" height="132" alt="img")
			
			//==== deskription===			
			.deskription-card
				.deskription-table-card
					h2.h3.mb-0 Кирпич клинкерный ЛСР Мюнхен
					p.bold-24.txt-pr1 коричневый береста 250*85*65 мм
					.deskription-table
						.bold-24 Характеристики:
						
						.deskription-table-body
							+table-row('Фактура', 'Береста, каре, кора, рустик')
							+table-row('Размер, мм', '250*85*65')
							+table-row('Формат', '0,71 НФ')
							+table-row('Марка прочности', 'М300')
							+table-row('Водопоглощение', '<6%')
							+table-row('Морозостойкость', 'F100')
							+table-row('Вес. ед. изделия, кг', '2.5')
						
				
				.deskription-card-footer
section.objects-slider
	.container
		h2.h3 Из этого материала построили
		.section-swiper
			.objects-swiper.swiper
				.swiper-wrapper
					.swiper-slide
						a(href="#!").gallery-card
							.gallery-card__img
								img(src="./img/gallery2.webp", srcset="/img/gallery2@2x.webp 2x"  width="513" height="332" alt="alt")
							.gallery-card__title Жилой квартал «Весна»
					.swiper-slide
						a(href="#!").gallery-card
							.gallery-card__img
								img(src="./img/gallery3.webp", srcset="/img/gallery3@2x.webp 2x"  width="513" height="332" alt="alt")
							.gallery-card__title Жилой квартал «Сталинка»
					.swiper-slide
						a(href="#!").gallery-card
							.gallery-card__img
								img(src="./img/gallery4.webp", srcset="/img/gallery4@2x.webp 2x"  width="513" height="332" alt="alt")
							.gallery-card__title Жилой квартал «Этажи»
					.swiper-slide
						a(href="#!").gallery-card
							.gallery-card__img
								img(src="./img/gallery5.webp", srcset="/img/gallery5@2x.webp 2x"  width="513" height="332" alt="alt")
							.gallery-card__title Жилой квартал «София»
					.swiper-slide
						a(href="#!").gallery-card
							.gallery-card__img
								img(src="./img/gallery6.webp", srcset="/img/gallery6@2x.webp 2x"  width="513" height="332" alt="alt")
							.gallery-card__title ЖК «Произведение на Первомайской»	
			//===slider nav arrows ===
			.slider-arrows
				button.btn-prev.objects-slider-prev
					+svg('chevronLeft')
				
				button.btn-next.objects-slider-next
					+svg('chevronRight')