section.single-catalogy
	.container
		+brcr('Главная', 'Каталог','Кирпич')
		.section-title.flex-row
			h2.h2 Кирпич
			p.bold-gray 870 товаров
		.aside-grid
			.aside-grid__column
				.aside-grid__wrapper
					ul.catalogy-menu
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('kirpich')
								a(href="#!").catalogy-menu-link Кирпич
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('krovlya')
								a(href="#!").catalogy-menu-link Мягкая кровля
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('bruschatka')
								a(href="#!").catalogy-menu-link Тротуарная брусчатка
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('tepisolyacia')
								a(href="#!").catalogy-menu-link Теплоизоляция
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('blocks')
								a(href="#!").catalogy-menu-link Блоки
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('isolyacia')
								a(href="#!").catalogy-menu-link Изоляционные материалы
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('materials')
								a(href="#!").catalogy-menu-link Стройматериалы
						li.catalogy-menu-item
							.flex-row
								.catalogy-menu-icon
									+svg('kamin')
								a(href="#!").catalogy-menu-link Все для камина
			.aside-grid__main
				.three-columns-grid
