section.statistic
	.container
		.statistic-wrapper
			.stat-item
				p.accent-bold >20
				p Лет на рынке<br>строительства
			.stat-item
				p.accent-bold 100 000
				p Довольных<br>клиентов
			.stat-item
				p.accent-bold 70+
				p Многоэтажных<br>домов
			
			.info-card
				p.bold-18 Магазин строительных материалов, где вы можете  найти всё самое необходимое для строительства и ремонта!
				p Кирпич, мягкая кровля, блоки, утепление, тротуарная брусчатка, гидроизоляция, доска, керамзит  и др. от лучших заводов России в наличии и под заказ.  Огромным преимуществом является услуга «хранение  на складе». Вы можете поэтапно забирать свой товар.
				
				a(href="#!").btn.btn--slim Подробнее о компании
					+svg('chevronRight')