.aside-grid{
	display: flex;
	column-gap: 20px;
	align-items: flex-start;
	&__column{width: 335px; flex-shrink: 0;}
	&__main{
		flex-grow: 1;
	}
}
.aside-grid__wrapper{
	width: 100%;
	border-radius: 20px;
	background-color: #fff;
	padding: 10px;
}
.three-columns-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:20px;
}