.svg-logo{
	width: 200px;
	height: 214px;
}
.svg-email,
.svg-phone,
.svg-left,
.svg-right,
.svg-up,
.svg-down,
.svg-quest,
.svg-important,
.svg-filter,.svg-pin, .svg-search,.svg-clock {
	width: 28px;
	height: 28px;
	color: #22231D;
}
.svg-chevronRight, .svg-chevronLeft, .svg-book{
	width: 8px;
	height: 12px;
	color: #6D6C5E;
}
.svg-book{
	width: 20px;
	height: 20px;
}
.svg-inst{
	width: 22px;
	height: 22px;
	color: white;
}