.svg-logo{
	width: 200px;
	height: 214px;
	color: white;
}
.svg-email,
.svg-phone,
.svg-left,
.svg-right,
.svg-up,
.svg-down,
.svg-quest,
.svg-important,
.svg-filter,.svg-pin, .svg-search,.svg-clock {
	width: 28px;
	height: 28px;
	color: #22231D;
	transition: .3s; 
}
.svg-chevronRight, .svg-chevronLeft, .svg-book{
	width: 8px;
	height: 12px;
	color: #6D6C5E;
}
.svg-chevronDown{
	width: 12px;
	height: 6px;
	color: #6D6C5E;
}
.svg-book{
	width: 20px;
	height: 20px;
}
.svg-inst, .svg-bar,.svg-cross,.svg-blocks,
.svg-bruschatka, .svg-isolyacia, .svg-kamin, .svg-kirpich, .svg-krovlya, .svg-materials, .svg-tepisolyacia{
	width: 22px;
	height: 22px;
	color: white;
	transition: .3s; 
}
.svg-blocks, .svg-bruschatka,
.svg-isolyacia,
.svg-kamin,
.svg-kirpich,
.svg-krovlya,
.svg-materials,
.svg-tepisolyacia{
	color:#AEAC99;
}
 .svg-tepisolyacia{
	fill: transparent;
 }
.svg-inst:hover{
	color: $ac2;
}
.svg-bar{color: #22231D;}