.h1, .h2, .h3, .h4{
	font-family: $tf;
	color: $pr;
	font-weight: 700;
	line-height: 1.1;
}
.h1{
	font-size: 102px;
	line-height: 1;
	@media (max-width: 1439px) {font-size: 82px;}
	@media (max-width: 1199px) {font-size: 62px;}
	@media (max-width: 767px) {font-size: 42px;}
}
.h2{
	font-size: 56px;
	@media (max-width: 1439px) {font-size: 46px;}
			
	@media (max-width: 1199px) {font-size: 36px;}
			
		
	@media (max-width: 767px) {font-size: 28px;}
	
}
.section-title{
	margin-bottom: 40px;
	&>*{margin-bottom: 0!important;}
	&.inline-row{
		&>*{display: inline;}
		&>*+*{margin-left: 10px;}
	}
	@media (max-width: 1023px) {margin-bottom: 20px;}
}
.h3 {
	font-size: 42px;
	@media (max-width: 1199px) {
	font-size: 36px;
	}
	@media (max-width: 767px) {
	font-size: 28px;
	}
	
}
.h4{
	font-size: 28px;
	
}
.h5{
	@media (max-width: 767px) {
		font-size: 18px;
}}
.h5,.bold-24, .medium-24, .semi-24, .reg-24,.bold-20,
.medium-20,
.semi-20,
.reg-20, .custom-content h2 {
  font-family: $ff;
  font-size: 24px;
  line-height: 1.2;
}
.h5, .bold-24, .bold-20, .bold-18{font-weight: 700;}
.semi-24,.semi-20,.semi-18 {font-weight: 600;}
.medium-24,.medium-20,.medium-18 {font-weight: 500;}
.bold-18, .medium-18, .semi-18 {
	font-size: 18px;
	line-height: 1.3;
}
.bold-20,
.medium-20,
.semi-20,
.reg-20, .custom-content h3{font-size: 20px;}
.bold-18,
.medium-18,
.semi-18,
.reg-18 {
	font-size: 18px;
	@media (max-width: 767px) {
	font-size: 16px;
	}
}
.bold-14{
	font-size: 14px;
}
.txt-accent, .accent-bold{
	color: $ac2;
}
.txt-upper{text-transform: uppercase;}
.custom-content h2, .custom-content h3, .bold-gray, .txt-bold, .accent-bold,.bold-14{font-weight: 700!important;}
.txt-semi{font-weight: 600!important;}
.txt-medium {font-weight: 500!important;}
.txt-gray, .bold-gray{color: $sec;}
.txt-pr1{color: $pr1!important;}
/*LINKS*/
.link, .icon-link{
	display: inline-flex;
	align-items: center;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: $sec;
	transition: .3s;
	column-gap: 6px;
	
	&:hover{
		color: $ac2;
		text-decoration: underline;
		svg{color: $ac2; }
	}
}
.icon-link, .icon-link:hover{
	text-decoration: none;
	svg {flex-shrink: 0;}
}
.icon-txt{
	column-gap:6px;
	svg{flex-shrink: 0;}
	a{color: $pr;transition: .3s;  &:hover{color: $ac2;}}
	
}
.social-block{
	@media (max-width: 767px) {
	 flex-direction: column;
	 row-gap: 10px;
	 align-items: flex-start;
	.bold-20{font-size: 16px;}
	}
}
.social-block, .social-links{column-gap:20px;}
.social-links svg{
	color: #6D6C5E;
}
.social-item:hover{
	svg{color: $ac2!important;}
}
.info-list{
	li{
		display: flex;
		align-items: center;
		column-gap:20px;
		font-size: 16px;
		@media (max-width: 767px) {
		font-size: 14px;
		}
	}
  .bold-18{min-width: 120px;}
  li+li{margin-top: 10px;}
}