//- ===== colors ======
$ac1:#D6D903;
$ac2: #A4AB00;
$ac3:#514538;
$ac4: #856644;
$pr: #22231D;
$pr1: #4B4A4A;
$sec: #6D6C5E;
$sec1: #AEAC99;
$sec2: #F0F0ED;
$sec3: #FAFAF9;
$error: #D90802;
$ff: 'Raleway';
$sf: 'BebasNeueBold';
$tf: 'BebasNeueBold';