.btn,
.btn-next,
.btn-prev, .btn-dark{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	transition: .3s;
	svg{
		flex-shrink: 0;
	}
}
.btn, .btn-dark{
	width: fit-content;
	column-gap:10px;
	height: 54px;
	padding-inline: 20px;
	min-width: 167px;
	background-color: $ac1;
	font-weight: 500;
	font-size: 16px;
	color: $pr;
	&[disabled]{opacity: 0.4; pointer-events: none; cursor: default;}
}
main {
	.btn, .btn-dark{
		@media (max-width: 767px) {
			width: 100%;
			max-width: 300px;
		}
	}	
}
.btn:hover{
	background-color: $ac2;
}
.btn-dark{
	height: 46px;
	font-size: 14px;
	background-color: $ac3;
	color: white;
	svg{color: white;}
	&:hover{
		background-color: $ac4;
	}
}
.btn--slim{
	@media (max-width: 767px) {
	font-size: 14px;
	height: 46px;
	}
}
.btn-next, .btn-prev{
	border: 1px solid $sec1;
	background-color: $sec2;
	width: 46px;
	height: 46px;
	flex-shrink: 0;
	
	&:hover{
		border: 1px solid $ac2;
		svg{color:$ac2;}
	}
}
.catalogy-menu-btn{
	column-gap:20px;
	padding: 16px 24px;
	font-weight: 500;
	font-size: 18px;
	flex-shrink: 0;
	span{
		padding-left: 10px;
		border-left: 1px solid #22231D;
	}
}

.close-btn{
	width: 22px;
	height: 22px;
	.svg-cross{
		width: 18px;
		height: 18px;
		color: $pr;
		
	}
	&:hover .svg-cross {
		color: $ac2;
	}
}