.filter-title{
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
}
.filters-menu{
	padding: 10px 20px;
 	&-item a{padding: 10px;color: $pr; display: block;}
	&-item a:hover{color: $ac2;}
 	&-item.active{font-weight: 700;border-left:2px solid $ac1;}
	
}
.drop-filter{
	padding: 10px 20px;
	.drop-filter-more{
		font-size: 14px;
		color: $sec;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		padding-block: 10px;
	}
}
.filter-footer{
	padding:20px;
	&>*{width: 100%;}
	&>*+*{margin-top: 20px;}
}
.drop-filter--color label{
	 span.color-circle {
		border: 1px solid $sec1;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 30px;
		
	}
}
.filter>*+*{
	border-top: 1px solid $sec2;
}
.sorting-filters{
	justify-content: space-between;
	padding-block:15px;
	&>*{flex-shrink:0;}
}
.custom-select.sorting-count{
	width: 90px;
}
.sorting-list-item{color: $sec;}
.sorting-types .sorting-list-item{
	text-decoration: underline;
	text-decoration-skip-ink: none;
		
}
.sorting-types .sorting-list-item.active{color: $pr;}

	

