
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
}
.header .search-form input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0px 1000px $pr inset;
  box-shadow: 0 0 0px 1000px $pr inset;
}
.form-item{
  position: relative;
  input{
    display: block;
    width: 100%;
    font-family: $ff;
    font-size: 16px;
    height: 54px;
    border-radius: 12px;
    padding-inline: 16px;
    background-color: transparent;
    &::placeholder{
      font-size: 16px;
      font-family: $ff;
      color: inherit;
    }
  }
}
.search-form{
  flex-grow: 1;
  input{
    padding-right: 84px;
    border: 1px solid $sec1;
    color: $sec2!important;
    &::-webkit-search-cancel-button {
       display: none;
      }
  }
  .svg-search{color: white;}
    .input-clear-btn, .search-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    z-index: 2;
    height: 50px;
    width: 40px;
    cursor:pointer;
    border-radius: 12px;
    &:hover .svg-search{color: $ac2;}
  }
  .input-clear-btn{
    right: 54px;
    width: 34px;
    display: none;
    .svg-cross{width: 16px;
    height: 16px;}
    &:hover, &:focus{.svg-cross{color: $ac2;}}
  }
    input:not(:placeholder-shown)+.input-clear-btn {
      display: block;
    }
}
