
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
   box-shadow: 0 0 0px 1000px #fff inset;
}
.header .search-form input:-webkit-autofill,.header .search-form input:-webkit-autofill:hover, .header .search-form input:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  box-shadow: 0 0 0px 1000px black inset;
  color: white;
  -webkit-text-fill-color: white;
}
.form-item{
  position: relative;
  input{
    display: block;
    width: 100%;
    font-family: $ff;
    font-size: 16px;
    height: 54px;
    border-radius: 12px;
    padding-inline: 16px;
    background-color: transparent;
    &::placeholder{
      font-size: 16px;
      font-family: $ff;
      color: inherit;
    }
  }
}
.search-form{
  flex-grow: 1;
  input{
    padding-right: 84px;
    border: 1px solid $sec1;
    color: $sec2!important;
    &::-webkit-search-cancel-button {
       display: none;
      }
  }
  .svg-search{color: white;}
    .input-clear-btn, .search-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    z-index: 2;
    height: 50px;
    width: 40px;
    cursor:pointer;
    border-radius: 12px;
    &:hover .svg-search{color: $ac2;}
  }
  .input-clear-btn{
    right: 54px;
    width: 34px;
    display: none;
    .svg-cross{width: 16px;
    height: 16px;}
    &:hover, &:focus{.svg-cross{color: $ac2;}}
  }
    input:not(:placeholder-shown)+.input-clear-btn {
      display: block;
    }
}
.drop-select{
  position: relative;
  &__btn{
    padding: 20px;
    font-size: 20px;
    position: relative;
   &:after{
     content: '';
      width: 16px;
      height: 16px;
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.213953 8.14303C0.49011 8.41919 0.937848 8.41919 1.214 8.14303L6.99969 2.35734L12.7854 8.14303C13.0615 8.41919 13.5093 8.41919 13.7854 8.14303C14.0616 7.86687 14.0616 7.41914 13.7854 7.14298L7.49972 0.857264C7.22356 0.581107 6.77582 0.581107 6.49967 0.857264L0.213953 7.14298C-0.0622032 7.41914 -0.0622032 7.86687 0.213953 8.14303Z' fill='%2322231D' /%3e%3c/svg%3e");
      background-size: 14px 9px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top:50%;
      transform: translateY(-50%);
    }
  }
  
  &__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 3;
    border: 1px solid black;
  }
  .custom-checkbox{
    display: flex;
    align-items: center;

  }
}