.nav-menu{
	li, a{
		color: white;
		font-weight: 500;
		font-size: 16px;
	}
	
	&-link{
		padding: 10px;
		transition: .3s;
		@media (max-width: 1199px) {
			padding: 10px 6px;
		}
		
	}
	.nav-menu-drop{
		position: absolute;
		margin-top: -1px;
		z-index: 6;
		top: 100%;
		left: -30px;
		padding: 10px;
		border-radius: 20px;
		background-color: #fff;
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.08);
		display: none;
		transform: translateY(10px);
		transition: .3s; 
		a{
			padding: 16px 20px;
			display: block;
			color: $pr;
			font-size: 16px;
			font-weight: 700;
			transition: .3s;
			white-space: nowrap;
			&:hover{
				color: $ac2;
			}
		}

	}
	&-item {
		position: relative;
		padding-block: 10px;

		.svg-chevronDown {
			color: white;
			svg{vertical-align: middle;}
		}

		&:hover {

			.nav-menu-link,
			.svg-chevronDown {
				color: $ac2;
			}
		}
	}
	&-has-drop:hover{
		.nav-menu-drop{
			display: block;
			animation-name: fadeUp;
			animation-duration: 0.2s;
			animation-fill-mode: forwards;
			animation-timing-function: linear;
			
		}
	}
}
@keyframes fadeUp{
	from{
		transform: translateY(-10px);
	}
	to{transform: translateY(0);}
}