/*STATISTICS*/
.stat-item{
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	@media (max-width: 1439px) {font-size: 16px;}
	@media (max-width: 1279px) {font-size: 14px;}
	@media (max-width: 1199px) {font-size: 18px;}
			
		
		
			
		
	.accent-bold{
		font-family: $sf; 
		line-height: 1.1;
		font-size: 56px;
		white-space: nowrap;
		@media (max-width: 1439px) {font-size: 50px;}
		@media (max-width: 1279px) {font-size: 40px;}
		@media (max-width: 1199px) {font-size: 56px;}
					
				
					
				
	}
}
.statistic{
	padding-top: 60px;
	padding-bottom: 20px;
	@media (max-width: 1199px) {
	  padding-top: 30px;
	}
}
.statistic-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-right: 570px;
	column-gap: 30px;
	position: relative;
	
	.info-card{
		position: absolute;
		right: 0;
		bottom: -20px;
		width: 572px;
		@media (max-width: 1364px) {
		  width: 520px;
		}
		@media (max-width: 1199px) {
		    position: relative;
		    bottom: auto;
		    width: 100%;
		    max-width: 600px ;
		}
	}
	@media (max-width: 1439px) {
	 column-gap: 20px;
	}
	@media (max-width: 1199px) {
	   padding-right: 0;
	   display: flex;
	   flex-wrap: wrap;
	   justify-content: space-between;
	   row-gap: 20px;
	}
	@media (max-width: 767px) {
	  flex-direction: column;
	  flex-wrap: nowrap;
	}
}
.info-card{
	border-radius: 20px;
	padding: 30px;
	background-color: $pr;
	color: white;
	&>*+*{margin-top: 10px;}
	.btn{margin-top: 20px;}
}