mixin brand-card(img)
	//====card===
	.brand-card
		img.lazy(src="./img/partner"+img+".webp" width="335" height="208" alt="img")
		

mixin brand-card-ui(img)
	//====card===
	.brand-card
		img.lazy(src="../img/partner"+img+".webp" width="155" height="88" alt="img")

mixin client-card(img)
	//====card===
	.brand-card
		img.lazy(src="./img/client"+img+".webp" width="335" height="208" alt="img")
		

