extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//=============MAIN===========
	main.main-page
		include ../sections/_header-slider
		section.banner-picture
			img(src="./img/bg-image.webp", alt="")
		
	include ../sections/_footer
 
block variables
	-var title = "Home";

