include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Кнопки

				.container-dashboard__content
					.btn Написать
						+svg-ui('email')
					pre.
						.btn Написать
							+svg-ui('email')
					.btn(disabled) Button
						+svg-ui('email')
					pre.
						.btn(disabled) Button
							+svg-ui('email')
					a(href="#!").btn-dark Ознакомиться с продукцией
						+svg-ui('email')
					pre.
						a(href="#!").btn-dark Ознакомиться с продукцией
							+svg-ui('email')
					.btn-dark(disabled) Button
							+svg-ui('email')
					pre.
						.btn-dark(disabled) Button
							+svg-ui('email')
					button.btn-next
						+svg-ui('chevronRight')
					pre.
						button.btn-next
							+svg-ui('chevronLeft')
					button.btn-next
						+svg-ui('chevronLeft')
					pre.
						button.btn-next
							+svg-ui('chevronRight')
					button.close-btn
						+svg-ui('cross')
					pre.
						button.close-btn
							+svg('cross')
					button.btn-outline Показать еще
						+svg-ui('plus')
					pre.
						button.btn-outline Показать еще
							+svg('plus')