include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					+svg-ui('logo')
					pre.
						+svg('logo')
					+svg-ui('email')
					pre.
						+svg('email')
					+svg-ui('phone')
					pre.
						+svg('phone')
					+svg-ui('left')
					pre.
						+svg('left')					
					+svg-ui('right')
					pre.
						+svg('right')
					+svg-ui('up')
					pre.
						+svg('up')
					+svg-ui('down')
					pre.
						+svg('down')
					+svg-ui('important')
					pre.
						+svg('important')
					
					+svg-ui('filter')
					pre.
						+svg('filter')
					
					+svg-ui('pin')
					pre.
						+svg('pin')

					+svg-ui('search')
					pre.
						+svg('search')
					+svg-ui('clock')
					pre.
						+svg('clock')

					+svg-ui('chevronLeft')
					pre.
						+svg('chevronLeft')

					+svg-ui('chevronRight')
					pre.
						+svg('chevronRight')